{{ define "main" }}
<div class="container">

  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="blog-single-post">
        <div class="post-media">
          {{ $bannerFeatured := .Resources.Match "Featured" }}
          {{ range $bannerFeatured }}
            <img src="{{ .Permalink }}" alt="Featured image" draggable="false">
          {{ end }}
          {{ if .Params.spotify }}
            <div class="spotify">
              <iframe src="https://open.spotify.com/embed/album/{{ .Params.spotify }}" width="100%" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
          {{ end }}
        </div>
        <div class="post-body">
          <div class="entry-header">
            <div class="post-meta post-meta-list">
              <span class="post-author">
                {{ range .Params.authors}}
                  {{ with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
                    <img src="{{ .Params.avatar.dpi }}" srcset="{{ .Params.avatar.dpi2 }} 2x" alt="" draggable="false">
                    {{ .Params.title }}
                  {{ end }}
                {{ end }}
              </span>
              <span class="post-cat">
                {{ range .Params.categories }}
                  <i class="icon icon-folder"></i>
                  <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ humanize . }}</a>
                {{ end }}
              </span>
              <span class="post-date">
              <i class="icon icon-calendar"></i>
              {{ .Date.Format "01 January 2006" }}
              </span>
            </div>
            <h2 class="entry-title">{{ .Title }}</h2>
          </div>
          <div class="entry-conent">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="post-navigation">
  <div class="container-fluid">
    <div class="row no-gutters post-nav">
      <div class="col-md-6 post-nav__col">
        <div class="post-previous post-nav__content">
          {{ if .PrevInSection }}
            {{ with .PrevInSection }}
              <a href="{{ .Permalink }}">
                <span>PREVIOUS POST</span>
                {{ if .Title }}
                  <h4>{{ .Title }}</h4>
                {{ end }}
                <small>{{ .Date.Format "01 January 2006" }}</small>
                <i class="icon icon-left-arrows indicator-icon"></i>
              </a>
            {{ end }}
          {{ else }}
           <div>
             <span></span>
             <h4></h4>
             <small></small>
           </div>
          {{ end }}
        </div>
      </div>
      <div class="col-md-6 post-nav__col">
        <div class="post-next post-nav__content">
          {{ with .NextInSection }}
            <a href="{{ .Permalink }}">
              <span>NEXT POST</span>
              <h4>{{ .Title }}</h4>
              <small>{{ .Date.Format "01 January 2006" }}</small>
              <i class="icon icon-right-arrow indicator-icon"></i>
            </a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}