<!-- js file start -->
<script src="{{ "assets/js/jquery-3.2.1.min.js" | relURL }}"></script>
<script src="{{ "assets/js/plugins.js" | relURL }}"></script>
<script src="{{ "assets/js/Popper.js" | relURL }}"></script>
<script src="{{ "assets/js/bootstrap.min.js" | relURL }}"></script>
<script src="{{ "assets/js/jquery.magnific-popup.min.js" | relURL }}"></script>
<script src="{{ "assets/js/owl.carousel.min.js" | relURL }}"></script>
<script src="{{ "assets/js/scrollax.js" | relURL }}"></script>
<script src="{{ "assets/js/jquery.ajaxchimp.min.js" | relURL }}"></script>
<script src="{{ "assets/js/jquery.waypoints.min.js" | relURL }}"></script>
<script src="{{ "assets/js/isotope.pkgd.min.js" | relURL }}"></script>
<script src="{{ "assets/js/swiper.min.js" | relURL }}"></script>
<script src="{{ "assets/js/jquery.easypiechart.min.js" | relURL }}"></script>
<script src="{{ "assets/js/delighters.js" | relURL }}"></script>
<script src="{{ "assets/js/typed.js" | relURL }}"></script>
<script src="{{ "assets/js/jquery.parallax.js" | relURL }}"></script>
<script src="{{ "assets/js/jquery.themepunch.tools.min.js" | relURL }}"></script>
<script src="{{ "assets/js/jquery.themepunch.revolution.min.js" | relURL }}"></script>
<script src="{{ "assets/js/extensions/revolution.extension.actions.min.js" | relURL }}"></script>
<script src="{{ "assets/js/extensions/revolution.extension.carousel.min.js" | relURL }}"></script>
<script src="{{ "assets/js/extensions/revolution.extension.kenburn.min.js" | relURL }}"></script>
<script src="{{ "assets/js/extensions/revolution.extension.layeranimation.min.js" | relURL }}"></script>
<script src="{{ "assets/js/extensions/revolution.extension.migration.min.js" | relURL }}"></script>
<script src="{{ "assets/js/extensions/revolution.extension.navigation.min.js" | relURL }}"></script>
<script src="{{ "assets/js/extensions/revolution.extension.parallax.min.js" | relURL }}"></script>
<script src="{{ "assets/js/extensions/revolution.extension.slideanims.min.js" | relURL }}"></script>
<script src="{{ "assets/js/extensions/revolution.extension.video.min.js" | relURL }}"></script>
<script src="{{ "assets/js/skrollr.min.js" | relURL }}"></script>
<script src="{{ "assets/js/shuffle-letters.js" | relURL }}"></script>
<script src="{{ "assets/js/main.js" | relURL }}"></script>
<!-- End js file -->