<div class="header header-transparent header-tranparent-style3 nav-sticky">
  <!-- header section -->
  <header class="xs-header header-yellow header-style3">
    <div class="container">
      <nav class="xs-menus clearfix">
        <div class="nav-header">
          <a class="nav-brand" href="{{ .Site.BaseURL }}">
          	<img
          		src="{{ .Site.Params.logo_url.dpi | relURL }}"
          		srcset="{{ .Site.Params.logo_url.dpi2 | relURL }}"
          		alt="{{ .Site.Title }}">
          </a>
          <div class="nav-toggle"></div>
        </div>
        <div class="nav-menus-wrapper align-to-right">
          <ul class="nav-menu">
            {{ range .Site.Menus.main }}
              <li><a href="{{ .URL }}">{{ .Name | upper }}</a></li>
            {{ end }}
          </ul>
        </div>
      </nav>
    </div>
    <!-- .container END -->
  </header>
  <!-- End header section -->
</div>
