<head>
  {{ if .Site.Params.google.tag_manager }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.google.tag_manager }}"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', '{{ .Site.Params.google.tag_manager }}');
    </script>
  {{ end }}

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ .Site.Title }}</title>
  <meta name="description" content="The platform that insures the digital economy. Riskwolf’s vision is to make digital enterprises more resilient. We help visionary re-insurers globally to create protection for digital risks that are underserved by traditional insurance.">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- RSS -->
  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  <!-- RSS ./end -->

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CRoboto:400,500,700,900%7CPlayfair+Display:400,700,700i,900,900i%7CWork+Sans:400,500,600,700" rel="stylesheet">
  <!-- signatra-font -->
  <link rel="stylesheet" href="{{ "assets/css/signatra-font.css" | relURL }}">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="{{ "assets/css/font-awesome.min.css" | relURL}}">
  <link rel="stylesheet" href="{{ "assets/css/bootstrap.min.css" | relURL}}">
  <link rel="stylesheet" href="{{ "assets/css/animate.css" | relURL}}">
  <link rel="stylesheet" href="{{ "assets/css/iconfont.css" | relURL}}">
  <link rel="stylesheet" href="{{ "assets/css/magnific-popup.css" | relURL}}">
  <link rel="stylesheet" href="{{ "assets/css/owl.carousel.min.css" | relURL}}">
  <link rel="stylesheet" href="{{ "assets/css/owl.theme.default.min.css" | relURL}}">
  <link rel="stylesheet" href="{{ "assets/css/swiper.min.css" | relURL}}">
  <link rel="stylesheet" href="{{ "assets/css/rev-settings.css" | relURL}}">
  <!--For Plugins external css-->
  <link rel="stylesheet" href="{{ "assets/css/plugins.css" | relURL }}">
  <!--Theme custom css -->
  <link rel="stylesheet" href="{{ "assets/css/style.css" | relURL }}">
  <!--Theme Responsive css-->
  <link rel="stylesheet" href="{{ "assets/css/responsive.css" | relURL }}">

  <!-- Wolfcast specific styles (overrides) -->
  <link rel="stylesheet" href="{{ "assets/css/wolfcast.css" | relURL }}">

  <!--Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="{{ "assets/favicon/apple-icon-57x57.png" | relURL }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ "assets/favicon/apple-icon-60x60.png" | relURL }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ "assets/favicon/apple-icon-72x72.png" | relURL }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ "assets/favicon/apple-icon-76x76.png" | relURL }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ "assets/favicon/apple-icon-114x114.png" | relURL }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ "assets/favicon/apple-icon-120x120.png" | relURL }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ "assets/favicon/apple-icon-144x144.png" | relURL }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ "assets/favicon/apple-icon-152x152.png" | relURL }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "assets/favicon/apple-icon-180x180.png" | relURL }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ "assets/favicon/android-icon-192x192.png" | relURL }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "assets/favicon/favicon-32x32.png" | relURL }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ "assets/favicon/favicon-96x96.png" | relURL }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "assets/favicon/favicon-16x16.png" | relURL }}">
  <link rel="manifest" href="{{ "assets/favicon/manifest.json" | relURL }}">
  <meta name="msapplication-TileColor" content="#ffe500">
  <meta name="msapplication-TileImage" content="{{ "assets/favicon/ms-icon-144x144.png" | relURL }}">
  <meta name="theme-color" content="#ffe500">
</head>