{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 -}}
<ul class="pagination justify-content-center">
  {{ with $pag.First -}}
  <li class="page-item{{ if not $pag.HasPrev }} disabled{{ end }}">
    <a href="{{ .URL }}" class="page-link" aria-label="First"><span aria-hidden="true"><i class="icon icon-left-arrows"></i></span></a>
  </li>
  {{ end -}}
  {{- $ellipsed := false -}}
  {{- $shouldEllipse := false -}}
  {{- range $pag.Pagers -}}
  {{- $right := sub .TotalPages .PageNumber -}}
  {{- $showNumber := or (le .PageNumber 3) (eq $right 0) -}}
  {{- $showNumber := or $showNumber (le .TotalPages 5) -}}{{/* Issue #7523 */}}
  {{- $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2))) -}}
  {{- if $showNumber -}}
    {{- $ellipsed = false -}}
    {{- $shouldEllipse = false -}}
  {{- else -}}
    {{- $shouldEllipse = not $ellipsed -}}
    {{- $ellipsed = true -}}
  {{- end -}}
  {{- if $showNumber }}
  <li class="page-item{{ if eq . $pag }} active{{ end }}">
    <a class="page-link" href="{{ .URL }}">{{ .PageNumber }}</a>
  </li>
  {{- else if $shouldEllipse }}
  <li class="page-item disabled">
    <span aria-hidden="true">...</span>
  </li>
  {{- end -}}
  {{- end }}
  {{- with $pag.Last }}
  <li class="page-item{{ if not $pag.HasNext }} disabled{{ end }}">
    <a href="{{ .URL }}" class="page-link" aria-label="Last"><span aria-hidden="true"><i class="icon icon-right-arrow"></i></span></a>
  </li>
  {{- end }}
</ul>
{{ end }}