{{ define "main" }}
<main>
  <section class="xs-section-padding">
    <div class="container">
      <h2>Opps...<br> Looks like the page you are looking for does not exist :/</h2>
    </div>
  </section>
</main>
{{ end }}