<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{- partial "header.html" . -}}
    <main>
      <section class="hero">
        {{ with .Site.GetPage "sections/hero/homepage/index.md" }}
          {{ $bg := .Resources.Match "Background"}}
          {{ range $bg }}
            {{ $bg1 := .Resize "1900x720"}}
            {{ $bg2 := .Resize "3800x1440"}}
            <img src="{{ $bg1.Permalink }}" srcset="{{ $bg2.Permalink }} 2x" alt="{{ .Title }}" class="hero__bg">
          {{ end }}

          <div class="hero__content container">
            {{ .Content }}
            {{ if .Params.socials }}
            <ul class="hero__socials">
              {{ range .Params.socials }}
                <li>
                  <a href="{{ .url }}"><i class="icon icon-{{ .icon }}"></i></a>
                </li>
              {{ end }}
            </ul>
            {{ end }}
          </div>
        {{ end }}
      </section>
      <section class="xs-section-padding">
        <div class="container">
          {{ with .Site.GetPage "sections/nav-link/homepage/index.md" }}
            <div class="mb-4">
              <a href="{{ .Params.link.url }}">
                <i class="icon icon-left-arrow"></i>
                {{ .Params.link.title }}
              </a>
            </div>
            <div class="mb-5">
              <div class="color-reset">
                {{ .Content }}
              </div>
            </div>
          {{ end }}
          <div class="row">
            {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
            {{ range .Paginator.Pages }}
              {{ .Render "teaser" }}
            {{ end }}
          </div>
          <!-- .row END -->
          {{ partial "pagination.html" . }}
        </div>
        <!-- .container END -->
      </section>
    </main>
    {{- partial "footer.html" . -}}
    {{- partial "foot.html" . -}}
  </body>
</html>
