{{ define "main" }}
<section class="xs-section-padding">
  <div class="container">
    <div class="row">
      {{ range .Paginator.Pages }}
        {{ .Render "teaser" }}
      {{ end }}
    </div>
    <!-- .row END -->
    {{ partial "pagination.html" . }}
  </div>
  <!-- .container END -->
</section>
<!-- end blog grid strart -->
{{ end }}
