<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body class="header-opaque">
    {{- partial "header.html" . -}}
    <main>
      {{ block "main" . }}
      {{end }}
    </main>
    {{- partial "footer.html" . -}}
    {{- partial "foot.html" . -}}
  </body>
</html>
