{{ define "main" }}
<main>
  <section class="contact-section-area xs-section-padding-top"  id="contact" id="contact">
    <!-- contact start -->
    <div class="xs-section-padding-top">
      <div class="container">
        <div class="row">
          <!-- make it central -->
          <div class="col-md-12">
            <div class="contact-box-wraper" >
              <h2 class="join-us-title" style="font-weight: normal;">{{ .Title }}</h2>
              <hr />
              {{ .Content }}
              <div class="pipedriveWebForms contact-form input-material" data-pd-webforms="{{ .Params.form.url }}">
                <script src="{{ .Params.form.script.src }}"></script>
              </div>
              <p style="text-align: center"><a href="{{ .Params.terms.url }}">{{ .Params.terms.title }}</a></p>
            </div>
            <!-- .contact-box-wraper END -->
          </div>
        </div>
        <!-- .row END -->
      </div>
    </div>
    <!-- contact END -->
  </section>
</main>
{{ end }}