{{ define "main" }}
<section class="xs-section-padding">
  <div class="container">
    <div class="row">
      {{ with .Site.GetPage "posts"}}
        {{ range .Pages }}
          <div class="col-md-6">
            <div class="post-list style2">
              <div class="post-media">
                {{ $bannerFeatured := .Resources.Match "Featured" }}
                {{ range $bannerFeatured }}
                  {{ $resized := .Fill "350x250"}}
                  <img src="{{ $resized.Permalink }}" alt="blog grid image">
                {{ end }}
                <div class="entry-meta">
                  <div class="post-meta-date">
                    <span class="day">{{ dateFormat "01" .Date}}</span>
                    <span class="month">{{ dateFormat "January" .Date}}</span>
                  </div>
                </div>
              </div>
              <!-- .post-media END -->
              <div class="post-body">
                <div class="post-meta-top">
                  <div class="entry-meta">
                    <span class="post-cat">
                      {{ range .Params.categories }}
                        <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}"><i class="icon icon-folder"></i> {{ humanize . }}</a>
                      {{ end }}
                    </span>
                  </div><!-- .post-meta END -->
                </div>
                <div class="post-meta">
                  <span class="post-author">
                    {{ $bannerFeatured := .Resources.Match "Author" }}
                    {{ range $bannerFeatured }}
                      {{ $avatar := .Fill "40x40"}}
                      <img src="{{ $avatar.Permalink }}" alt="blog post author avatar" draggable="false">
                    {{ end }}
                    <a href="#">Alfread Marque</a>
                  </span>
                </div>
                <div class="entry-header">
                  <h2 class="entry-title">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                  </h2>
                  <!-- .entry-title END -->
                  <div class="entry-content">
                    {{ .Summary }}
                  </div>
                  <!-- .entry-content END -->
                </div>
                <!-- .entry-header END -->
              </div>
              <!-- .post-body END -->
            </div>
            <!-- .post-list END -->
          </div>
        {{ end }}
      {{ end }}
    </div>
    <!-- .row END -->
    <ul class="pagination justify-content-center">
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item"><span>...</span></li>
      <li class="page-item">
        <a class="page-link" href="#"><i class="icon icon-right-arrow"></i></a>
      </li>
    </ul>
  </div>
  <!-- .container END -->
</section>
<!-- end blog grid strart -->
{{ end }}
