<div class="col-md-6 d-flex">
  <div class="post-list style2">
    <div class="post-media">
      {{ $bannerFeatured := .Resources.Match "Featured" }}
      {{ range $bannerFeatured }}
        {{ $resized := .Fill "540x386"}}
        <img src="{{ $resized.Permalink }}" alt="blog grid image">
      {{ end }}
      <div class="entry-meta">
        <div class="post-meta-date">
          <span class="day">{{ dateFormat "02" .Date}}</span>
          <span class="month">{{ dateFormat "January" .Date}}</span>
          <span class="month">{{ dateFormat "2006" .Date }}</span>
        </div>
      </div>
    </div>
    <!-- .post-media END -->
    <div class="post-body">
      <div class="post-meta-top">
        <div class="entry-meta">
          <span class="post-cat">
            {{ range .Params.categories }}
              <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}"><i class="icon icon-folder"></i> {{ humanize . }}</a>
            {{ end }}
          </span>
        </div><!-- .post-meta END -->
      </div>
      <div class="post-meta">
        <span class="post-author">
          {{ range .Params.authors}}
            {{ with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
              <img src="{{ .Params.avatar.dpi }}" srcset="{{ .Params.avatar.dpi2 }} 2x" alt="" draggable="false">
              {{ .Params.title }}
            {{ end }}
          {{ end }}
        </span>
      </div>
      <div class="entry-header">
        <h2 class="entry-title">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h2>
        <!-- .entry-title END -->
        <div class="entry-content">
          {{ .Summary }}
        </div>
        {{ $url := .Permalink }}
        <div class="entry-footer">
          <div>
            <a href="{{ $url }}">{{ .Site.Params.teaser.link.title }} <i class="icon icon-arrow-right"></i></a>
          </div>
          {{ $audio := .Site.Params.teaser.audio.title }}
          {{ range .Params.categories }}
            <div>
              {{ if eq . "wolfcast" }}
                <a href="{{ $url }}">{{ $audio }} <i class="icon icon-volume-medium"></i></a>
              {{ end }}
            </div>
          {{ end }}
        </div>
        <!-- .entry-content END -->
      </div>
      <!-- .entry-header END -->
    </div>
    <!-- .post-body END -->
  </div>
  <!-- .post-list END -->
</div>
