.header-transparent {
  background-color: transparent;
}

.header-transparent .xs-header {
  border: 0;
}

.nav-sticky.sticky-header {
  background-color: #000
}

.nav-menu {
  color: #fff;
}

.nav-menu > li.active > a {
    color: #ffe500 !important;
}

.header-transparent .xs-menus .nav-menu > li > a {
    color: #ffe500;
}

.post-list.style2 .post-meta-date {
  background-color: #ffe500;
  color: #000;
}

.nav-sticky.sticky-header .xs-menus .nav-menu > li > a {
  color: inherit;
}

.xs-header.header-style3 .xs-menus .nav-menu > li > a {
  padding: 42px 10px !important;
}

@media (min-width: 768px) {
  .xs-section-padding {
    padding-top: 130px;
  }
}

@media (min-width: 1024px) {
  .nav-header {
    max-width: 222px;
  }
}

.nav-brand {
  line-height: 101px !important;
  transition: all 0.2s ease;
}

.nav-header {
  transition: all 0.2s ease;
}

.xs-header .xs_nav-portrait {
  height: 100px;
}

.header-transparent .nav-toggle::before {
  background-color: #fff;
  box-shadow: 0 0.5em 0 0 #fff, 0 1em 0 0 #fff;
}

.post-author {
  min-height: 40px;
  display: inline-block;
}

@media (min-width: 993px) {
  .xs-menus {
    display: flex;
    justify-content: space-between;
  }

  .nav-menu {
    padding-right: 0 !important;
  }

  .nav-menus-wrapper {
    flex-grow: 1;
    text-align: right;
  }
}

.post-list.style2 .post-meta-top .entry-meta > span i {
  color: #000;
}

.post-meta-top .entry-meta > span a:hover {
  color: #000;
}

.post-list .post-body .entry-title a:hover {
  color: #000;
  text-decoration: underline;
}

.page-item.active .page-link {
  background-color: #000;
  border-color: #000;
}

.pagination li a:hover, .pagination li.active a {
  background-color: #ffd200;
  border-color: #ffd200;
  color: #000;
}

.xs-list.round li::before {
  background-color: #ffd200;
}

.xs-footer-section .footer-top-area {
  background-color: #000;
}

.blog-single-post {
  padding-top: 130px;
}

.header-transparent .xs-menus .nav-menu > li > a:hover {
  color: #fff !important;
}

.post-meta-list > span i {
  color: #000;
}

.post-list .post-body .post-meta > span, .post-list .post-body .post-meta a {
  color: #000;
}

.post-list .post-body .post-meta .post-author img {
  margin-right: 10px;
}

.post-nav {
  display: flex;
}

  .post-nav__col {
    display: flex;
  }

  .post-nav__content {
    flex-grow: 1;
  }

blockquote > p {
  color: #fff !important;
  font-size: 1.375rem !important;
  font-style: italic !important;
  font-weight: 700 !important;
}

.post-body ul,
.post-body ol {
  padding-left: 20px;
  font-size: 1.0625rem;
}

.post-body ul {
  margin-bottom: 50px;
}

.post-body ul li {
  position: relative;
  margin-bottom: 15px;
}

.post-body ol li {
  margin-bottom: 15px;
  counter-increment: step-counter;
}

.post-body ul li::before {
  content: "";
  display: block;
  float: left;
  background-color: #1868dd;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-top: 7px;
  margin-right: 10px;
}

.post-body ol li::before {
  content: counter(step-counter) ".";
  width: auto;
  height: auto;
  line-height: normal;
  margin-right: 14px;
  border: 0px solid #000;
  color: #999999;
}

.hero {
  position: relative;
  padding: 224px 0 120px 0;
  display: flex;
  align-items: center;
  color: #fff;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .hero {
    min-height: auto;
  }
}


.hero::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  background-color: #000;
  opacity: 0.7;
  z-index: 10;
}

  .hero__content {
    position: relative;
    text-align: center;
    z-index: 20;
  }

  .hero__content h1 {
    color: #ffe500;
  }

  @media (min-width: 768px) {
    .hero {
      min-height: 720px;
    }
  }

  @media (max-width: 767px) {

    .hero__content h1 {
      font-size: 32px;
    }

    .hero__content h2 {
      font-size: 26px;
    }
  }

  .hero__content * {
    color: inherit;
  }

  .hero__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

.color-reset {
  color: #000;
}

.post-list {
  display: flex !important;
  flex-direction: column !important;
  width: 100%;
}

.post-body {
  flex-grow: 1;
}

.hero__socials {
  display: inline-flex;
  margin: -0.4rem;
}

.hero__socials li {
  padding: 0.4rem;
  margin-top: 2rem;
}

.hero__socials a {
  display: inline-flex;
  color: #fff;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  border: 1px solid currentColor;
  border-radius: 50%;
}

.hero__socials a:hover {
  color: #000;
  background-color: #fff;
}

.header-opaque .header {
  background-color: #000 !important
}

.entry-footer {
  margin-top: 20px;
}

.entry-footer a {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}

.spotify {
  margin-top: 20px;
}